extends layout 

block content 
    h1= title 
    br
    if companies.length
        ul 
            each company in companies
                li 
                    a(href=company.url) #{company.name}

    else 
        p There are no companies.