extends layout 

block content 
    h1= title 
    br
    if game_list.length
        ul 
            each game in game_list
                li 
                    a(href=game.url) #{game.name}

    else 
        p There are no games.