extends layout

block content
  h1= title
  p Welcome to #[em The Shop], a very basic Express website developed as a project for The Odin Project.

  h2 Dynamic content

  p The shop has the following record counts:

  ul
    li #[strong Games:] !{game_count}
    li #[strong Categories:] !{category_count}
    li #[strong Companies:] !{company_count}