extends layout

block content
  h1= title
  p Welcome to #[em The Shop], a very basic Express website developed as a project for The Odin Project.

  h4 The Shop has the following record counts:

  ul
    li #[strong Games:] !{game_count}
    li #[strong Genres:] !{genre_count}
    li #[strong Companies:] !{company_count}